---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Experiences from '../components/Experiences.astro';
import Education from '../components/Education.astro';
import Skillset from '../components/Skillset.astro';
import InterestsEtc from '../components/InterestsEtc.astro';

import { title, jobtitle, address, contact, skills } from '../site-info';
---

<Layout title={title}>
  <Heading name={title} jobtitle={jobtitle} address={address} contact={contact} />

  <main>
    <button class="print" onclick="javascript:print()"><img src="/print.svg" />Print / Save as PDF</button>
    <Experiences />

    <Education />

    <Skillset skills={skills} />

    <InterestsEtc />
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: var(--default-width);
    color: var(--color-text);
    line-height: 1.3;
    position: relative;

    .print {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      padding: 0.2rem 0.4rem;
      background-color: var(--color-main-bg);
      border-radius: 0;
      font-size: 0.9rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }
  }

  @media print {
    main {
      margin: 0;
      .print {
        display: none;
      }
    }
  }
</style>
