---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Experience = CollectionEntry<'experience'>;

const experiences: Experience[] = (await getCollection('experience')).sort(
  (a: Experience, b: Experience) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf(),
);
---

<div class="experiences">
  <h2 id="experience">Experience</h2>
  {
    experiences.map(async (experience: Experience) => {
      const { Content } = await experience.render();
      return (
        <section class="experience">
          <h3>
            <strong>{experience.data.company}</strong>, {experience.data.location} &mdash;
            <em>{experience.data.title}</em>
          </h3>
          <span class="period">
            <FormattedDate date={experience.data.startDate} /> &ndash;
            <FormattedDate date={experience.data.endDate} />
          </span>

          <Content />
        </section>
      );
    })
  }

  <p style="margin-bottom: 2rem; font-style: italic; word-break: break-all;">
    For the remainder of my experience, please see my LinkedIn experience section: <a
      href="https://www.linkedin.com/in/harrymckillen/details/experience/"
      >https://www.linkedin.com/in/harrymckillen/details/experience/</a
    >
  </p>
</div>
